body{
	background-color: #000000;
}
*{
	margin:0;
	padding:0;	
}

h1{
	color: #ECE9E4;
	text-align:center;
	text-decoration: underline;
}

#divcontent{
	margin:0 auto;
	margin-top:20px;
	width:960px;
	height:900px;
	background-color:#ECE9E4;
	box-shadow: 1px 0px 15px white;
}

#formulario{
	margin:0 auto;
	padding-top:50px;
	width:900px;
	height:500px;
}

label{
	font-size: 30px;
}

input{
  width: 800px;
  height:30px;
}

#btnpubli{
  width: 200px;
  height:30px;
}

